@import 'transitions';
@import 'scrollbar';
@import 'disqus';

html {
  font-family: 'JetBrains Mono', monospace;
  scroll-behavior: smooth;
}

@mixin code {
  @apply bg-green-100 py-px px-1 text-green-600 dark:(bg-green-900 bg-opacity-50 text-green-400);
  &::before,
  &::after {
    content: '`';
  }
}

.nuxt-content {
  @apply space-y-2;
  /** Apply styles for headings */
  h1 {
    @apply text-3xl text-green-500 font-bold;
  }
  h2 {
    @apply text-2xl text-green-500 font-bold;
  }
  h3,
  h4,
  h5 {
    @apply text-lg text-green-500;
  }

  p {
    @apply text-gray-900 dark:text-gray-200;
    & a {
      @apply text-green-500 hover:underline;
    }
    & img {
      @apply rounded my-2;
    }
    &.text-center {
      @apply flex justify-center;
    }
    & strong {
      @apply font-medium text-gray-900 dark:text-gray-100;
    }
    code {
      @include code;
    }
    &:not(:last-child) {
      @apply mb-6;
    }
  }

  /** Apply style for codeblocks */
  .nuxt-content-highlight {
    @apply my-2 relative;
    .filename {
      @apply font-light mt-3 mr-3 text-sm right-0 text-gray-300 z-10 absolute;
    }
    pre {
      @apply rounded-md text-sm py-4 px-6;
    }
  }

  ol,
  ul {
    @apply text-black dark:text-white;
    li a {
      @apply text-green-500 dark:text-green-500 hover:underline;
    }
    li code {
      @include code;
    }
    li:not(:last-child) {
      @apply mb-1;
    }
  }
  ol {
    @apply list-decimal pl-4;
    li:not(:last-child) {
      @apply mb-5;
    }
  }
  ul {
    @apply list-disc pl-6;
    &:not(:last-child) {
      @apply mb-5;
    }
    li::marker {
      @apply text-green-500;
    }
  }
  /* Horizontal line */
  hr {
    @apply border-dashed border-gray-300 my-8 dark:border-gray-700;
  }
}
